// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$old-dark-brown: #A88677;
$old-light-brown: #E5D1C5;

$new-dark-brown: #A88677;
$new-light-brown: #E5D1C5 ;
