// Specific CSS for your home-page
body{
  margin: 0;
}
h6{
  font-size: 29px;
  position: relative;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 28px;
  text-align: center;
}

a {
  text-decoration: none;
  // text-align: center;
  color: #fff;
}
img {
  width: 100%;
}
