// Specific CSS for your home-page
h6{
  font-size: 29px;
  position: relative;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 28px;
  text-align: center;
}

h2{
  text-align: center;
}
a {
  text-decoration: none;
  text-align: center;
}
img {
  width: 100%;
}

