 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag("m2-1347_ej7rwu.jpg") %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("m2-6567_r9njyj.jpg") %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("m2-2831_eecyzi.jpg") %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("m2-7551_ptp4vm.jpg") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" style="display: none" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" style="display: none" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
