<div class="header2-for-mobile">
  <div class="photo-text2">
    <div class="header2-photo">
      <%= cl_image_tag("front_page_H_H_jjdtmh.jpg") %>
    </div>
    <div class="header2-text">
      <h3>I will be there for those special moments. I will be your best friend to feel relaxed, <br>
      comfortable, laugh at silly things and the most important, enjoy each others<br>
        company where you are right now.</h3><br>
        <h2><%= link_to "Let’s meet and plan something great together!", bookme_path,  class: "nav-link" %></h2>
    </div>
  </div>
</div>


