 <div class="kopustas-for-mobile">
  <div class="sukibelapeliai">
      <%= image_tag("du-sukibelapeliai.png") %>
    </div>
  <div class="love-story">
  <div class="header-story" style="position: relative; right: 245px;bottom: 19px;">
    <h5>Capturing <br>Memories</h5>
      <p> Ageing is a funny thing. One's perspective of life changes. Time is passing by and sometimes
   you think, oh I wish I had that picture. In my opinion a photograph is like a time
    capsule. It brings you memories. It can bring you those warm feelings  you know what I
    mean, what you looked like, what thoughts were going through your mind, where you were
    in life and what mattered the most.
      <p>
  </div>
  <div class="story-phh" style="position: relative; bottom: 248px;left: 34px; width: 25%;">
    <%= cl_image_tag("seimos_fotosesija_9_of_10_wkb1qf.jpg") %>
  </div>
  </div>
  </div>
