<div class="photo-text-for-mobile">
  <div class="photo-text">
    <div class="header1-photo2">
       <%= cl_image_tag("front_page_as_w57tkl.jpg") %>
    </div>
  </div>
  <div class="first-header-welcome">
    <div class="welcome-header">
      <h3>Welcome!</h3>
    </div>
    <div class="first-header-more">
      <p>Feel free to browse around.<br>
          Here you will find more info about my passion <br> photography and some aspects of my life</p>
          </div>
          <div class="rodykle">
               <%= image_tag("rodykle.png") %>
             </div>
          <div class="first-header-sendme">
          <a href="mailto:hello@yourstorybyovidijus.com"><p>I am happy to answer all your questions  <br> send me a messege </p></a>
    </div>
  </div>
  </div>
</div>
