<div class="bookme-cover" style="position: relative; top: -186px;">
  <%= cl_image_tag("m-8200_pvazsa.jpg") %>
</div>
<!-- <div class="container bookme">
  <h1 class="text-center">Book Me</h1> -->
  <!-- <form class="registration-form">
    <%= form_for Contact.new, url: pages_path, method: :post, remote: true do |f| %>
    <label class="col-one-half">
      <span class="label-text">Your Name</span>
      <input type="text" name="firstName">
    </label>
    <label class="col-one-half">
      <span class="label-text">Your Email</span>
      <input type="text" name="email">
    </label>
    <label>
      <span class="label-text">Booking for</span>
      <input type="text" name="email">
    </label>
    <label>
      <span class="label-text">Message</span>
      <input type="text" name="message">
    </label>
    <div class="text-center">
      <button class="submit" name="register">Send Me Message</button>
    </div>
    <% end %>
  </form> -->
 <div id="contact">
    <%= render 'contact_form' %>
  </div>
<!-- /div> -->
<!-- <div class="bookme-cover2" style="position: relative; top: -325px;">
  <%= cl_image_tag("m-8200_pvazsa.jpg") %>
</div>
 -->







