<div class="bookme-cover">
  <%= cl_image_tag("bookme-cover.jpg") %>
</div>

<div class="bookme-cover-for-mobile">
  <%= cl_image_tag("m-8277_aexf3q.jpg") %>
</div>


 <div id="contact">
    <%= render 'contact_form' %>
  </div>








