<div class="small-banner">
    <%= cl_image_tag("web_up_love_story_l14s0j.jpg") %>
  </div>
<div class="row wedding-row">
<!-- <div class="box"> -->
<%= link_to liepajurgis_path do %>
<div class="card wedding-card" style="width: 18rem;">
<div class="card-img-top">
  <%= cl_image_tag ("m-1721_nszq1f.jpg") %>
</div>
  <div class="card-body">
    <h2 class="card-text"><b><b>Liepa & Jurgis</b> - A sunset in the sunflower field || Lithuania</h2>
  </div>
</div>
<!-- </div> -->
<% end %> <!-- first-card-end> -->
</div>
</div>
