<div class="packages-first-photo">
  <%= cl_image_tag ("m-9711-2_vhzkgt.jpg") %>
</div>
<div class="packages-cards">
  <div class="packages-card">
    <div class="packages-card-image">
      <%= image_tag ("young2-moon.png") %>
    </div>
    <div class="package-card-header">
      <h5>Young Moon</h5>
    </div>
      <div class="packages-card-body">
        <ul>
        <li><span>Photoshooting up to 4hours</span></li>
        <li>150 retouched photos</li>
        <li>In the USB stick</li>
        <li>Access to the online photo gallery</li>
        </ul>
        <p>- 750EUR -</p>
      </div>
  </div>
  <div class="packages-card">
    <div class="packages-card-image">
      <%= image_tag ("half-moon.png") %>
    </div>
    <div class="package-card-header">
      <h5>Half Moon</h5>
    </div>
      <div class="packages-card-body">
        <ul>
        <li>Photoshooting up to 8hours</li>
        <li>300 retouched photos</li>
        <li>In the USB stick</li>
        <li>Walnut wood box 25photos</li>
        <li>Drone pictures</li>
        <li>Access to the online photo gallery</li>
        <li>5 photos will be prepared next day</li>
        </ul>
        <p>- 1200EUR -</p>
      </div>
  </div>
  <div class="packages-card">
    <div class="packages-card-image">
      <%= image_tag ("full-moon.png") %>
    </div>
    <div class="package-card-header">
      <h5>Full Moon</h5>
    </div>
      <div class="packages-card-body">
        <ul>
          <li>Photoshooting up to 12hours</li>
          <li>450 retouched photos</li>
          <li>In the USB stick</li>
          <li>Walnut wood box 25photos</li>
          <li>Drone pictures</li>
          <li>Access to the online photo gallery</li>
          <li>5 photos will be prepared next day</li>
        </ul>
        <p>- 1400EUR -</p>
      </div>
  </div>
</div>
