
.pic-about{
  width: 100%;
}
.aboutme-row{
  margin-top: 180px;
}

.aboutme-row2{
  margin-top: -110px;
}
.text1{
  background-color: $new-light-brown;
  width: 456px;
  height: 198px;
  text-align: center;

}

.text1 p{
  position: relative;
  top: 59px;
  left: 73px;
  width: 149%;
  }

  .text2{
  background-color: $dark-green;
  height: 186px;
  position: relative;
  top: -142px;
  // margin-left: 322px;
  left: 264px;
  text-align: center;
}

.text2 p{
  width: 144%;
  position: relative;
  top: 29px;
  right: 269px;
}


.pic1 img{
 width: 52%;
 margin-top: 86px;
 margin-left: 31px;
}

.hi {
  text-align: center;
  top: 223px;
  position: relative;
  right: 152px;
}

.hi h1 {
  font-size: 28px;
}

.capture {
  position: relative;
  text-align: center;
  top: 45px;
  right: -68px;
}
.capture h1 {
  font-size: 28px;
}
.capture h2 {
  font-size: 28px;
  color: white;
}

.gif img{
  width: 86%;
  margin-left: 118px;
}

.gif{
  background-color: $new-light-brown;
  position: relative;
  width: 42%;
  height: 330px;
  bottom: 812px;
  left: 608px;
}
// introduction

.introduction{
  background-color: $new-dark-brown;
  height: 700px;
  text-align: center;
  margin-top: -60px;
}

.introduction-header h3{
  font-size: 28px;
  color: white;
  // font-weight: bold;
  top:  120px;
  position: relative;
}

.introduction-line{
  background-color: white;
  position: relative;
  top: 180px;
  width: 690px;
  height: 2px;
  left: 306px;
}

.introduction-text h3{
  font-size: 20px;
  color: white;
  position: relative;
  top:  265px;
}
.lapeliai h3 {
  font-size: 20px;
  color: white;
  position: relative;
  top:  345px;
}

.lapeliai img {
  width: 10%;
  position: relative;
  top: 335px;
}

.introduction-summery h3{
  font-size: 24px;
  color: white;
  top:  370px;
  position: relative;
}

// things I love
.things-i-love-header {
  text-align: center;
  position: relative;
  top: -100px;
}
// .explore h3 {
//   font-size: 48px;
//   text-align: center;
//   color: white;
//   position: relative;
//   bottom: 280px;
// }
// .jungle h3 {
//   font-size: 48px;
//   text-align: center;
//   color: white;
//   position: relative;
//   bottom: 280px;
// }
// .dinners h3 {
//   font-size: 48px;
//   text-align: center;
//   color: white;
//   position: relative;
//   bottom: 280px;
// }

// .ocean h3 {
//   font-size: 48px;
//   text-align: center;
//   color: white;
//   position: relative;
//   bottom: 310px;
// }

.things-i-love {
  margin-top: 200px;
}
.things-i-love-header h3 {
  font-size: 48px;
}
.gallery-intro-1{
  position: relative;
  right: 297px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 4rem;
  top:  200px;
}

.gallery-intro-2{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 4rem;
  position: relative;
  bottom: 792px;
  left: 288px;
}


.i-like-gallery{
  // margin-right: 0px !important;

  margin-bottom: 70px;
}
//mobiledesign

@media only screen and (min-width: 290px) and (max-width: 812px){

.small-banner{
  display: none;
}

.pic-about{
  position: absolute;
}

.aboutme-row{
  margin-top: 70px;
}
.aboutme-card{
  width: 7rem !important;
  position: relative !important;
  bottom: -19px;
  right: 24px;
  }

.text1{
  width:407px !important;
  height: 210px !important;
  position: relative !important;
  right: 234px!important;
  // bottom: 329px !important;
}
.text1 p{
  position: relative;
  top: 19px;
  left: 156px;
  width: 62%;
  font-size: 16px;
  text-align: center;
  color: white;
}

.text2{
  height: 125px !important;
  position: relative !important;
  top: 51px !important;
  left: 0px !important;
  width: 101% !important;
  background-color: transparent;

}
.text2 p{
  width: 94%;
  position: relative;
  top: -2px;
  right: -16px;
  text-align: center;
  font-size: 14px;
}


.aboutme-row2{
  margin-top: 428px;
}
.about-text2{
  position: relative !important;
  top: -398px !important;
  left: 20px !important;
}
.hi{
  text-align: center!important;;
  top: 136px!important;;
  position: relative!important;;
  right: 91px!important;;
}
.hi h1{
  font-size: 17px;
}
.pic1 img{
  width: 58% !important;
  margin-top: 86px !important;
  margin-left: -21px;
}
.gif{
  position: relative !important;
  width: 45% !important;
  height: 110px !important;
  bottom: 284px !important;
  left: 179px !important
}
.capture{
  position: relative !important;
  text-align: center !important;
  top: 11px !important;
  right: -22px !important;
}
.capture h1{
  font-size: 16px !important;
}
.capture h2 {
  font-size: 16px;
  color: white;
}
.gif img {
  width: 93%;
  margin-left: 22px;
  margin-top: -23px;
}
.introduction{
  margin-top: -470px;
  height: 500px;
}
.introduction-header h3{
  font-size: 23px;
  top: 50px;
}
.introduction-line{
  top: 69px;
  height: 1px;
  width: 300px;
  left: 41px;
}
.introduction-text h3{
  font-size: 16px;
  top: 106px;
  left: 33px;
  width: 85%;
}
.lapeliai img{
  width: 30%;
  top: 115px;
}

.introduction-summery h3{
  top: 141px;
  font-size: 24px;
}
.things-i-love-header {
  top: -30px;
}

.things-i-love-header h3{
  font-size: 30px;
}

.i-like-gallery{
  margin-left: 0px !important;
}
.things-i-love{
  margin-top: 70px;
}
// .dinners, .ocean {
//   margin-top: -40px;
// }

.explore h3, .jungle h3, .dinners h3{
  font-size: 18px;
  bottom: 43px;
}
.ocean h3{
  font-size: 18px;
  bottom: 50px;
}
}

//medium screen design
@media only screen and (min-width: 1024px) and (max-width: 1200px){
.text2 p {top: 11px;}

.gif {
  bottom: 726px;
  left: 515px;
}

.introduction-line {left: 160px;}

.bookme {
  top: 28% !important;
  height: 570px !important;
  width: 57% !important;
  margin-bottom: -16px !important;
}
.submit {
  position: relative;
  bottom: 40px;
}
}

@media only screen and (min-width: 1900px){
.introduction-line{ left: 605px !important;}

.pic1 img {width: 87%;
    margin-top: 86px;
    margin-left: -350px;}

    .gif{
      height: 330px;
    bottom: 1356px;
    left: 616px;
    }

    .bookme{top: 45% !important;}
}

@media only screen and (min-width: 2130px){
.introduction-line{left: 719px !important;
}

}

