.text1{
  background-color: #E5D1C5;
  width: 456px;
  height: 198px;

}

.text1 h3{
    left: 59px;
    position: relative;
    top: 70px;
    left: 225px;
    text-align: center;
    text-size-adjust: 11px;
    font-size: 16px;
  }

  .text2{
  background-color: #A88677;
  height: 186px;
  position: relative;
  top: 58px;
  margin-left: 322px;
}

.text2 h3{
  position: relative;
  font-size: 16px;
  text-align: right;
  top: 59px;
  right: 242px;
}

.pic1 img{
  width: 52%;
 margin-top: 86px;
}

.hi {
  text-align: center;
  top: 275px;
  position: relative;
  right: 152px;
  font-size: 26px;
}

.hi h1 {
  font-size: 26px;
}

.capture {
  position: relative;
  text-align: center;
  top: 45px;
  right: 82px;
}
.capture h1 {
  font-size: 28px;
}
.capture h2 {
  font-size: 28px;
  color: white;
}

.gif img{
  width: 86%;
  margin-left: 49px;
}

.gif{
  background-color: #E5D1C5;
  position: relative;
  width: 42%;
  height: 330px;
  bottom: 812px;
  left: 608px;
}
// introduction

.introduction{
  background-color: #A88677;
  height: 700px;
  text-align: center;
}

.introduction-header h3{
  font-size: 28px;
  color: white;
  // font-weight: bold;
  top:  120px;
  position: relative;
}

.introduction-line{
  background-color: white;
  position: relative;
  top: 180px;
  width: 534px;
  height: 2px;
  left: 306px;
}

.introduction-text h3{
  font-size: 20px;
  color: white;
  position: relative;
  top:  265px;
}
.lapeliai h3 {
  font-size: 20px;
  color: white;
  position: relative;
  top:  345px;
}

.lapeliai img {
  width: 10%;
  position: relative;
  top: 335px;
}

.introduction-summery h3{
  font-size: 24px;
  color: white;
  top:  370px;
  position: relative;
}

// things I love
.things-i-love-header {
  text-align: center;
  margin: top;
  position: relative;
  top: 100px;
}
.explore h3 {
  font-size: 48px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 280px;
}
.jungle h3 {
  font-size: 48px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 280px;
}
.dinners h3 {
  font-size: 48px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 280px;
}

.ocean h3 {
  font-size: 48px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 310px;
}
.things-i-love-header h3 {
  font-size: 48px;
}
.gallery-intro-1{
  position: relative;
  right: 297px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 4rem;
  top:  200px;
}

.gallery-intro-2{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 4rem;
  position: relative;
  bottom: 792px;
  left: 288px;
}
//mobiledesign

@media only screen and (min-width: 290px) and (max-width: 812px){
  .aboutme-card{
    width: 7rem !important;
    position: relative !important;
    top: -352px !important;
  }

.text1{
  width:218px !important;
  height: 119px !important;
  position: relative !important;
  right: 234px!important;
  bottom: 329px !important;
}
.text1 h3{
  position: relative!important;
  top: 18px!important;
  left: 0px!important;
  text-align: center!important;
  font-size: 19px!important;
}
.text2{
  height: 125px !important;
  position: relative !important;
  top: -249px !important;
  right: 702px !important;
  width: 101% !important;
}
.text2 h3{
  position: relative !important;
  font-size: 16.5px !important;
  text-align: center !important;
  top: 9px !important;
  right: 0px !important;
}
.about-text2{
  position: relative !important;
  top: -441px !important;
  left: 20px !important;
}
.hi{
  text-align: center!important;;
  top: 136px!important;;
  position: relative!important;;
  right: 91px!important;;
}
.hi h1{
  font-size: 17px;
}
.pic1 img{
  width: 43% !important;
  margin-top: 86px !important;
}
.gif{
  position: relative !important;
  width: 40% !important;
  height: 217px !important;
  bottom: 232px !important;
  left: 174px !important
}
.capture{
  position: relative !important;
  text-align: center !important;
  top: -31px !important;
  right: 3px !important;
}
.capture h1{
  font-size: 21px !important;
}
.capture h2 {
  font-size: 21px;
  color: white;
}
.gif img {
  width: 79%;
  margin-left: 44px;
  margin-top: -23px;
}
}

