
.pic-about{
  width: 100%;
}
.aboutme-row{
  margin-top: 180px;
}

.aboutme-row2{
  margin-top: -110px;
}
.text1{
  background-color: $new-light-brown;
  width: 456px;
  height: 198px;

}

.text1 h3{
    left: 59px;
    position: relative;
    top: 70px;
    left: 225px;
    text-align: center;
    text-size-adjust: 11px;
    font-size: 16px;
  }

  .text2{
  background-color: #A88677;
  height: 186px;
  position: relative;
  top: -142px;
  // margin-left: 322px;
  left: 264px;
}

.text2 h3{
  position: relative;
  font-size: 16px;
  text-align: center;
  top: 59px;
  right: 242px;
}

.pic1 img{
 width: 52%;
 margin-top: 86px;
 margin-left: 31px;
}

.hi {
  text-align: center;
  top: 275px;
  position: relative;
  right: 152px;
  font-size: 26px;
}

.hi h1 {
  font-size: 26px;
}

.capture {
  position: relative;
  text-align: center;
  top: 45px;
  right: -68px;
}
.capture h1 {
  font-size: 28px;
}
.capture h2 {
  font-size: 28px;
  color: white;
}

.gif img{
  width: 86%;
  margin-left: 118px;
}

.gif{
  background-color: $new-light-brown;
  position: relative;
  width: 42%;
  height: 330px;
  bottom: 812px;
  left: 608px;
}
// introduction

.introduction{
  background-color: $new-dark-brown;
  height: 700px;
  text-align: center;
  margin-top: -60px;
}

.introduction-header h3{
  font-size: 28px;
  color: white;
  // font-weight: bold;
  top:  120px;
  position: relative;
}

.introduction-line{
  background-color: white;
  position: relative;
  top: 180px;
  width: 534px;
  height: 2px;
  left: 306px;
}

.introduction-text h3{
  font-size: 20px;
  color: white;
  position: relative;
  top:  265px;
}
.lapeliai h3 {
  font-size: 20px;
  color: white;
  position: relative;
  top:  345px;
}

.lapeliai img {
  width: 10%;
  position: relative;
  top: 335px;
}

.introduction-summery h3{
  font-size: 24px;
  color: white;
  top:  370px;
  position: relative;
}

// things I love
.things-i-love-header {
  text-align: center;
  position: relative;
  top: -100px;
}
// .explore h3 {
//   font-size: 48px;
//   text-align: center;
//   color: white;
//   position: relative;
//   bottom: 280px;
// }
// .jungle h3 {
//   font-size: 48px;
//   text-align: center;
//   color: white;
//   position: relative;
//   bottom: 280px;
// }
// .dinners h3 {
//   font-size: 48px;
//   text-align: center;
//   color: white;
//   position: relative;
//   bottom: 280px;
// }

// .ocean h3 {
//   font-size: 48px;
//   text-align: center;
//   color: white;
//   position: relative;
//   bottom: 310px;
// }

.things-i-love {
  margin-top: 200px;
}
.things-i-love-header h3 {
  font-size: 48px;
}
.gallery-intro-1{
  position: relative;
  right: 297px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 4rem;
  top:  200px;
}

.gallery-intro-2{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 4rem;
  position: relative;
  bottom: 792px;
  left: 288px;
}


.i-like-gallery{
  // margin-right: 0px !important;
  margin-left: 70px !important;
}
//mobiledesign

@media only screen and (min-width: 290px) and (max-width: 812px){

.small-banner{
  display: none;
}

.pic-about{
  position: absolute;
}

.aboutme-row{
  margin-top: 70px;
}
.aboutme-card{
  width: 7rem !important;
  position: relative !important;
  bottom: 25px;
  right: 20px;
  }

.text1{
  width:407px !important;
  height: 119px !important;
  position: relative !important;
  right: 234px!important;
  // bottom: 329px !important;
}
.text1 h3{
  position: relative!important;
  top: 18px!important;
  left: 160px!important;
  text-align: center!important;
  font-size: 16px!important;
  width: 60%;
}
.text2{
  height: 125px !important;
  position: relative !important;
  top: 51px !important;
  left: 0px !important;
  width: 101% !important;
  background-color: transparent;
}
.text2 h3{
  position: relative !important;
  font-size: 16.5px !important;
  text-align: center !important;
  top: 9px !important;
  right: 0px !important;
}

.aboutme-row2{
  margin-top: 428px;
}
.about-text2{
  position: relative !important;
  top: -441px !important;
  left: 20px !important;
}
.hi{
  text-align: center!important;;
  top: 136px!important;;
  position: relative!important;;
  right: 91px!important;;
}
.hi h1{
  font-size: 17px;
}
.pic1 img{
  width: 58% !important;
  margin-top: 86px !important;
  margin-left: -21px;
}
.gif{
  position: relative !important;
  width: 45% !important;
  height: 110px !important;
  bottom: 284px !important;
  left: 179px !important
}
.capture{
  position: relative !important;
  text-align: center !important;
  top: 11px !important;
  right: -22px !important;
}
.capture h1{
  font-size: 16px !important;
}
.capture h2 {
  font-size: 16px;
  color: white;
}
.gif img {
  width: 93%;
  margin-left: 22px;
  margin-top: -23px;
}
.introduction{
  margin-top: -470px;
  height: 500px;
}
.introduction-header h3{
  font-size: 24px;
}
.introduction-line{
  top: 133px;
  height: 1px;
  width: 300px;
  left: 41px;
}
.introduction-text h3{
  font-size: 18px;
  top: 167px;
  left: -5px;
  width: 102%;
}
.lapeliai img{
  width: 30%;
  top: 195px;
}

.introduction-summery h3{
  top: 235px;
}
.things-i-love-header {
  top: -30px;
}

.things-i-love-header h3{
  font-size: 30px;
}

.i-like-gallery{
  margin-left: 0px !important;
}
.things-i-love{
  margin-top: 70px;
}
// .dinners, .ocean {
//   margin-top: -40px;
// }

.explore h3, .jungle h3, .dinners h3{
  font-size: 18px;
  bottom: 43px;
}
.ocean h3{
  font-size: 18px;
  bottom: 50px;
}
}

