.lightwidget-widget{
  display: flex;
  justify-content: flex-end;
  width:60%;
  border:0;
  overflow:hidden;
}

.banner {
  margin:0 auto;
}

#banner-homepage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.small-banner img {
  width: 100%;
  margin:0 auto;
  // opacity: 0.9;
  background-position: center;
  height: auto;
  position: absolute;
  top: 0;
  // height: 25%;
}

.small-b{
  height: auto;
  position: absolute;
  top: 0;
  margin-bottom: 50px
}

.lightwidget-widget{
  display: flex;
  justify-content: flex-end;
  width:60%;
  border:0;
  overflow:hidden;
}
