//FOR MOBILE SCREENS
.carousel-item.active {
    display:block;
}
.karusele-card-combination {
  margin-bottom: 10rem;
}

.karusele-card{
  text-align: center;
  border: 10px solid $new-dark-brown;
  padding: 3rem;
  margin-bottom: -1em;
}
.karusele{
  background: $new-dark-brown;
  width: 100%;
  height: 320px;
}
.carousel-item p {
  font-family: $body-font;
  color: #fff;
}

.book-call{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
}
.book-call-arrow{
  width: 53%;
  margin-top: 2em;
}

.book-call-text h5,
.book-call-angebot h5 {
  font-size: 16px;
}
.book-call-text h5{
  margin-top: 10px;
}
.book-call-text{
  text-align: center;
  background: $new-dark-brown;
  border-radius: 50%;
  width: 152px;
  height: 103px;
  padding: 11px;
  margin-left: 2em;
}
.book-call-angebot{
  width: 100%;
  margin-top: 1.5rem;
}
.book-call-angebot span {
  font-size: 12px;
  margin-left: 15px;
}
.book-call-text a {
  color: #000;
  text-decoration: underline;
}

.book-call-text a:hover{
  color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 600px){
.carousel-for-web{
  display:none;
  }
  .carousel-indicators li {
    width: 6px !important;
    height: 6px !important;
    border-radius: 100% !important;
  }
}

@media (min-width: 500px){
  .carousel-for-web {
    // z-index: -99;
    margin-top: -14em;
  }
}
@media(min-width: 600px){
  .karusele-card-combination{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .karusele-card{
    width: 100%;
    margin-right: -1em;
    margin-bottom: 0em;
  }
  .karusele-card h5{
    margin-top: 4rem;
    font-size: 24px;
  }
  .carousel-item p{
    margin-top: 3rem;
  }
  .karusele-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
  }
  .book-call{
    margin-bottom: 5rem;
    margin-right: -12rem;
    align-items: center;
    text-align: center;
  }
  .book-call-text h5{
    font-size: 24px;
  }
  .book-call-text{
    background: none;
    width: 132%;
    height: 0px;
    padding: 0px;
    margin-left: 4em;
  }
  .book-call-angebot h5{
    font-size: 24px;
  }
  .book-call-arrow{
    width: 69%;
    margin-left: -2em;
    margin-top: 3em;
  }
  .book-call-angebot{
    width: 100%;
    margin-top: 4.5rem;
  }
  .book-call-text a:hover{
    color: $new-dark-brown;
  }
}
// .carousel-indicators li {
//   width: 6px !important;
//   height: 6px !important;
//   border-radius: 100% !important;
// }
//
// .carousel-for-web {
//   // z-index: -99;
//   position: absolute !important;
//   top: 0;
// }
//
//
// @media only screen and (min-width: 520px) and (max-width: 3440px){
// .carousel-for-mobile{
//   display:none;
// }
// .header1-photo2{
//   display: none;
// }
// .kopustas-for-mobile{
//   display:none;
// }
// .header2-for-mobile{
//   display:none;
// }
// .footer-navbar{
//   display:none;
// }
//
// .bookme-cover-for-mobile{
//   display: none;
// }
// }
//
//
// @media only screen and (min-width: 290px) and (max-width: 520px){
// .carousel-for-web{
//   display:none;
// }
// .header1-photo{
//   display:none;
// }
// .kopustas{
//   display: none;
// }
// .header2{
//   display: none;
// }
// .header-main{
//   display:none;
// }
// .bookme-cover{
//   display: none;
// }
// .carousel-item {
//   transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out !important;}
// }
//
