//FOR MOBILE SCREENS
.carousel-item.active {
    display:block;
}
.karusele-card-combination {
  margin-bottom: 10rem;
}

.karusele-card{
  text-align: center;
  border: 10px solid $new-dark-brown;
  padding: 1rem
}
.karusele{
  background: $new-dark-brown;
  width: 100%;
  height: 320px;
}
.carousel-item p {
  font-family: $body-font;
  color: #fff;
}

.book-call{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
}
.book-call-arrow{
  width: 53%;
}

.book-call-text h5,
.book-call-angebot h5 {
  font-size: 16px;
}

.book-call-text{
  text-align: center;
  width: 119%;
}
.book-call-angebot{
  width: 100%;
}

.book-call-text a {
  color: #000;
  text-decoration: underline;
}

.book-call-text a:hover{
  color: $new-dark-brown;
}
@media only screen and (min-width: 320px) and (max-width: 600px){
.carousel-for-web{
  display:none;
  }
  .carousel-indicators li {
    width: 6px !important;
    height: 6px !important;
    border-radius: 100% !important;
  }
}

@media (min-width: 500px){
  .carousel-for-web {
    // z-index: -99;
    margin-top: -14em;
  }
}
// .carousel-indicators li {
//   width: 6px !important;
//   height: 6px !important;
//   border-radius: 100% !important;
// }
//
// .carousel-for-web {
//   // z-index: -99;
//   position: absolute !important;
//   top: 0;
// }
//
//
// @media only screen and (min-width: 520px) and (max-width: 3440px){
// .carousel-for-mobile{
//   display:none;
// }
// .header1-photo2{
//   display: none;
// }
// .kopustas-for-mobile{
//   display:none;
// }
// .header2-for-mobile{
//   display:none;
// }
// .footer-navbar{
//   display:none;
// }
//
// .bookme-cover-for-mobile{
//   display: none;
// }
// }
//
//
// @media only screen and (min-width: 290px) and (max-width: 520px){
// .carousel-for-web{
//   display:none;
// }
// .header1-photo{
//   display:none;
// }
// .kopustas{
//   display: none;
// }
// .header2{
//   display: none;
// }
// .header-main{
//   display:none;
// }
// .bookme-cover{
//   display: none;
// }
// .carousel-item {
//   transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out !important;}
// }
//
