.footer{
  background-color: $new-dark-brown;
  height: 100px;
  padding-top: 2em;
}
.footer a {
  color: white;
  text-decoration: none;
}

.footer h3 {
  text-align: center;
  color: white;
  font-size: 12px !important;
  position: relative;
  top: 112px;
}


  .footer h3{
  font-size: 11px !important;
  position: relative;
  top: 18px;
  }

.footer a {
  display: flex;
  justify-content: center;

}
//FOR BIGGER SCREENS

@media (min-width: 500px){

}
