.footer{
  background-color: $new-dark-brown;
  height: 134px;
}
.footer a {
  color: white;
  text-decoration: none;
}

.footer h3 {
  text-align: center;
  color: white;
  font-size: 12px !important;
  position: relative;
  top: 112px;
}

@media only screen and (min-width: 290px) and (max-width: 812px){
  .footer h3{
  font-size: 11px !important;
  position: relative;
  top: 18px;
  }

.footer a {
  display: flex;
  justify-content: center;

}

.footer{
  height: 68px;
  }

.footer-navbar{
  margin-top: 240px;
  }
}
