
.name h1{
  text-align: center;
  position: relative;
  bottom: 85px;
}

.previous {
  position: fixed;
  z-index: 99;
  bottom: 2%;
  left: 65px;
  right: 0;
  margin: 0 auto;
  text-align: left;
  color: black;
}

.previous h1{
  font-size: 20px;
}

.next h1{
  font-size: 20px;
}
.next {
  position: fixed;
  z-index: 99;
  bottom: 2%;
  left: 0;
  right: 75px;
  margin: 0 auto;
  text-align: right;
  color: black;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 0;
    grid-row-end: 1;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 9;
}

//mobile design
@media only screen and (min-width: 290px) and (max-width: 812px){
  .small-LR {
    bottom: 269px !important;
  }
  .name h1{
    bottom: 240px !important;
  }
  .previous{
    bottom: 360px !important;
    left: 11px !important;
    font-style: bold;
  }
  .previous h1{
    font-size: 12px;
  }
  .next{
    bottom: 360px!important;
    right: 52px;
    font-style: bold;
  }
  .next h1{
    font-size: 12px;
  }
  .JA{
    margin-top:-226px !important;
  }
  .JA2{
    margin-top: -35px !important }
    .JA3{
      margin: -2.35rem auto !important;
    }
    .JA4{
      margin-top: -155px!important;
    }
    .JA5{
      margin: -9.7rem auto !important;
    }
    .LR{
      margin-top:-226px !important;
    }
    .EF{ margin-top:-226px !important;}
}
