
//carousel

// .carousel {
//   // z-index: -99;
//   position: absolute !important;
//   top: 0;
// }
//first header

.header1{
  margin-top: 680px;
  position: relative;
  text-align: center;
}
.header1-photo{
  margin-top: 160px;
}

.header1-welcome {
  text-align: right;
  position: relative;
  bottom: 779px;
  /* left: 43px; */
  right: 223px;
  color: white;
  /* font-size: 34px; */
}
.header1-welcome h3{
  font-size: 36px;
}

.header1-more{
  position: relative;
  bottom: 685px;
  right: 151px;
  display: flex;
  justify-content: flex-end;
  color: white;
  text-align: center;
}

.header1-sendme{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 524px;
  color: white;
  right: 165px;
  text-align: center;
}

.header2{
  margin-top: 120px;
}
.header2-text{
  text-align: center;
  position: relative;
  bottom: 764px;
}

.header2-text p{
  color: white;
}

.header2-text h2{
  color: white;
  font-size: 28px;
}

.header2-text h2:hover{
  opacity: 0.5;
}
//second header

.kopustas{
  background-color: $new-dark-brown;
  display:flex;
  position: relative;
  top: 70px;
  height: 331px;
}

.header-story{
  position: relative;
  right: 245px;
  bottom: 19px;
}

.header-story h5 {
  font-size: 34px;
  text-align: center;
  position: relative;
  right: -100px;
  bottom: 81px;
}

.header-story h4{
    font-size: 34px;
    text-align: center;
    position: relative;
    bottom: 62px;
    left: 200px;
    top: -66px;
}

.header-story p{
   font-family:  $p;
    color: white;
    position: relative;
    font-size: 16px;
    bottom: 12px;
    right: -479px;
    text-align: center;
    width: 42%;
}
.header-story h6{
    font-size: 15px;
    position: relative;
    text-align: center;
    bottom: 48px;
}

//first headers's photos

.story-phh{
  position: relative;
  bottom: 204px;
  left: -34px;
  width: 20%;
}

.story-ph img{
   width: 115%;
}

.story-ph{
  position: relative;
  bottom: 439px;
  left: 762px;
  width: 30%;
}

.sukibelapeliai{
  width: 10%;
  position: relative;
  right: -504px;
  top: 10px;
}

.rodykle {
  width: 8%;
  position: absolute;
  top: 1531px;
  display: flex;
  margin-left: 913px;
}

//second header

.header-main{
  position: relative;
  text-align: center;
  top: 850px;
  background-color: $new-light-brown;
  top: 55px !important;
  width: 24%;
  left: 402px;
}

.header-main h6{
  font-size: 25px;
  position: relative;
  top: 14px;
}

//third-header

.saldainis{
  display: flex;
  justify-content: space-evenly;
  margin-top: 63px;
  width: 107%;
  background-color: $new-light-brown;
  top:-22px;
  height: 520px;
  margin-left: -90px;
}

//intagram section

.instagram{
  position: relative;
  bottom: -73px;
  left: 300px;
}
.fab{
  color: black;
  opacity: 0.6;
  font-size: 20px;
  align-content: center;
}

.fab:hover{
 color: white;
}

.fa-instagram{
  font-size: 30px;
  top: 247px;
  right: 83px;
  position: relative;
}

.fab h6{
  width: 149%;
  position: relative;
  right: 15px;
  font-size: 18px;
}

.instagram-ph{
  position: relative;
  left: 436px;
  top: 116px;
  margin-top: 210px;
}

.brownline{
  background-color: $dark-green;
  position: relative;
  top: 278px;
  width: 202%;
  height: 6px;
  right: 4px;
}

.lightwidget-widget{
  display: flex;
  justify-content: flex-end;
  width: 150%;
  border: 0;
  overflow: hidden;
  height: 157px;
}

.home-korteles{
  justify-content: space-around;
}


// for bigger screen

@media (min-width: 1273px) {
.story-ph{ bottom: 498px}
.story-phh{width: 20%}
}

@media only screen and (min-width: 290px) and (max-width: 812px){

  .instead-carousel img{
    overflow: hidden;
    width: 120% !important;
  }
.kopustas-for-mobile{
  background-color: $new-light-brown;
  height: 252px;
  position: relative;
  top: -100px !important;
  height: 531px !important;
}

.sukibelapeliai{
  right: -167px;
  width: 13%;
  top: 47px;
}
.header-story{
  right: 168px !important;
}
.header-story h5{
  font-size: 28px;
  text-align: center;
  position: relative;
  right: -167px;
  bottom: 65px;
}

.header-story h4 {
  bottom:52px;
  left: 0px !important;
  width:100%;
  margin-left: 168px;
}
.header-story p {
  bottom: 7px;
  right: -216px;
  color: white;
  font-size: 16px;
  width: 75%;
}
.story-phh{
  left: 0px !important;
  bottom: 22px !important;
  margin-left: 48px;
}

.story-phh img{
  width: 298% !important;
}

.story-ph{
  bottom: 206px !important;
  margin-left: 194px !important;
  width: 39% !important;
  left:0 !important;
}
.header-main {
  top:-105px !important;
  height: 50px;
  width: 35% !important;
  left:108px !important;
}
.header-container{
  widows: 45%   !important;
}

.header-main h6{
  font-size: 18px;
  top: 1px !important;
}

.question h1{
  top: 18px !important;
  font-size: 34px;
}
.saldainis{
  top: -69px !important;
  height: 200px;
  width: 124%;
  margin-top: -100px !important;
  margin-bottom: -2px !important;
  background-color: $new-light-brown;
  margin-left: -90px;
}
.instagram{
  bottom: 295px !important;
  font-size: 16px;
}
.fab h6{
  font-size: 16px;
  left: -15px !important;
}
.fab{
  font-size: 25px !important;
  right: 50px !important;
}
.instagram-ph{
  left: 48px !important;
  top:  -5px !important;
  margin-top: 170px;
}
.brownline{
  top: -2px !important;
  width: 275% !important;
  right: 3px !important;
  height: 4px;
}
.contact-form-text-area {
  position: relative;
  left: 30px !important;
}
.contact-name{
  right: 27px !important;
}
.contact-email{
  right: 27px !important;
}
.contact-message{
  right: 107px !important;
}
.new_contact{
  left: 0px !important;
}
.button{
 left: 150px;
}
//updated version
.header1{
  margin-top: 0px !important;
  position: relative;
  bottom: 97px;
  background-color: $new-light-brown;
  height: 100px;
}
.header1 h1{
  font-size: 18px;
  position: relative;
  top:  36px;
}

.rodykle{
  width: 20%;
  position: absolute;
  top: 1070px;
  display: flex;
  margin-left: 155px;
}
.header1-photo {
  margin-top: 0px !important;
}

.header1-photo2{
  margin-top: -97px;
}

.header1-photo img {
  width: 100%;
  // background-image: cover;
  height: 400px;
  // overflow: hidden !important;
}

.header1-welcome{
  position: relative;
  bottom: 447px;
    /* display: flex; */
  right: 79px;
}

.header1-welcome h3{
  font-size: 24px;
}

.header1-more{
  position: relative;
  bottom: 372px;
  right: -2px;
  display: flex;
  justify-content: flex-end;
   color: white;
   width: 95%;
}


.header1-sendme{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 284px;
  color: white;
  right: 30px;
}

.header2-for-mobile{
  margin-top: -120px;
}
.header2-text{
  bottom: 464px;
}


.header2-text p {
  position: relative;
  text-align: center;
  font-size: 16px;
  width: 95%;
  color: white;
  bottom: 22px;
  right: -5px;
}

.header2-text h2 {
  font-size: 22px !important;
  position: relative;
  top: 209px;
  font-weight: bold;
}
.korteles{
  margin-top: -97px;
}

.home-korteles{
  right: 0px;
}
.index-korteles{
  background-color: $new-light-brown;
  height: 950px;
  position: relative;
  bottom: 93px;
}
.lightwidget-widget {
  width: 310% !important;
  position: relative !important;
  bottom: 55px !important;
}
.fab h6{
  font-size: 16px;
  width: 148%;
  /* margin-left: -7px; */
  position: relative;
  left: -8px;
}

}



@media only screen and (min-width: 1024px) and (max-width: 1200px){
  .navbar-expand-lg{
  position: relative !important;
  left: -136px !important;
  }
  .kopustas{
  top: 613px !important;
  }
  .story-ph{
  left: 630px !important;
  }
  .header-main{
    top: 623px !important;
    left: 398px !important;
  }
  .korteles{
    top: 704px !important;
  }
  .treti{
    position: relative;
    right: 48px;
    flex: 0 0 16.6667% !important;
    max-width: 16.6667% !important;
  }
  .saldainis{
    margin-top: 560px;
  }
  .instagram-ph{
    left: 275px !important;
  }
  .fab{
        top: 305px !important;
    right: 121px !important;
  }
}





