
//carousel

.carousel {
  // z-index: -99;
  position: absolute;
  top: 0;
}

//first header

.kopustas{
  background-color: #997763;
  display:flex;
  position: relative;
  top:815px;
  height: 252px;
}

.header-story{
  position: relative;
  right: 245px;
  bottom: 19px;
}

.header-story h5 {
  font-size: 34px;
  text-align: center;
  position: relative;
  right: -84px;
  bottom: 1px;
}

.header-story h4{
    font-size: 34px;
    text-align: center;
    position: relative;
    bottom: 62px;
    left: 245px;
}

.header-story p{
   font-family:  $p;
    position: relative;
    font-size: 12px;
    bottom: 53px;
    right: -186px;
    text-align: center
}
.header-story h6{
    font-size: 15px;
    position: relative;
    text-align: center;
    bottom: 48px;
}

//first headers's photos

.story-phh{
  position: relative;
  bottom: 248px;
  left: 34px;
  width: 25%;
}

.story-ph img{
   width: 115%;
}

.story-ph{
  position: relative;
  bottom: 520px;
  left: 779px;
  width: 31%;
}

//second header

.header-main{
  position: relative;
  text-align: center;
  top: 850px;
  // background-color: #A89F8A;
  background-color: #7b9799;
}

.header-main h6{
  font-size: 25px;
  position: relative;
  top: 14px;
}

//third-header

.saldainis{
  display: flex;
  justify-content: space-evenly;
  margin-top: 800px;
  width: 107%;
  background-color: #7b9799;
  // background-color: #A89F8A;
  top:-22px;
  height: 520px;
  margin-left: -87px;
}

//intagram section

.instagram{
  position: relative;
  bottom: -73px;
  left: 300px;
}
.fab{
  color: black;
  opacity: 0.6;
  font-size: 20px;
  align-content: center;
}

.fab:hover{
 color: #a39b93;
}

.fa-instagram{
  font-size: 30px;
  top: 319px;
  right: 83px;
  position: relative;
}

.intagram-ph{
  position: relative;
  left: 436px;
  top: 346px;
}

.brownline{
  // background-color:  #997763;
  background-color: white;
  position: relative;
  top: 278px;
  width: 65%;
  height: 6px;
  right: 4px;
}

// Ask me a question

// .question h1{
//   top: 65px;
//   text-align: center;
//   position: relative;
//   font-size: 40px;
// }

// .new_contact{
//   align-items: center;
//   text-align: center;
//   align-content: inherit;
//   position: relative;
//   left: 43%;
//   margin-left: -25%;
//   margin-top: 5%;
// }

// .contact-form-text-area{
//   width: 30%;
//   height: 40px;
// }

// #contact_message {
//   width: 65%;
//   height: 143px;
// }

// // label {
// //   text-align: left;
// //   align-items: left;
// //   font-size: 12px;
// //   position: relative;
// //   right: 107px;
// //   top: 10px;
// //   font-size: 18px;
// // }


// .contact-message {
//   text-align: left;
//   align-items: left;
//   font-size: 12px;
//   position: relative;
//   right: 242px;
//   top: 10px;
//   font-size: 18px;
// }

// .button {
//   transition-duration: 0.4s;
//   // border-color: #A88677;
//   background-color: white;
//   border-radius: 19px;
//   border: 2px solid #A88677;
//   font-size: 22px;
//   position: relative;
//   top: 15px;
//   left: 224px;
// }

// .button:hover {
//   background-color: #A88677;
//   color: white;
// }


// for bigger screen

@media (min-width: 1273px) {
.story-ph{ bottom: 540px}
.story-phh{width: 22%}
}

@media only screen and (min-width: 290px) and (max-width: 812px){
.kopustas{
  position: relative;
  top: -58px !important;
  height: 212px !important;
}
.header-story{
  right: 168px !important;
}
.header-story h4 {
  bottom:52px
}
.header-story p {
  bottom: 31px;
  right: -78px;
  color: white;
  font-size: 12px;
}
.story-phh{
  left: 60px !important;
  width: 21% !important;
  bottom: 241px !important;
}
.story-ph{
  bottom: 206px !important;
  left: 194px !important;
  width: 39% !important;
}
.header-main {
  top:-57px !important;
  height: 50px;
  width: 35% !important;
  left:108px !important;
}
.header-container{
  widows: 45%   !important;
}

.header-main h6{
  font-size: 18px;
  top: 1px !important;
}

.saldainis {
  margin-top: 25px !important;
}
.question h1{
  top: 18px !important;
  font-size: 34px;
}
.saldainis{
  top: -62px !important;
  height: 290px;
  width: 124%;
}
.instagram{
  bottom: 295px !important;
  font-size: 16px;
}
.fab h6{
  font-size: 16px;
}
.fab{
  font-size: 25px !important;
  right: 50px !important;
}
.intagram-ph{
  left: 48px !important;
  top:  165px !important;
}
.brownline{
  top: 125px !important;
  width: 98% !important;
  right: 3px !important;
}
.contact-form-text-area {
  position: relative;
  left: 30px !important;
}
.contact-name{
  right: 27px !important;
}
.contact-email{
  right: 27px !important;
}
.contact-message{
  right: 107px !important;
}
.new_contact{
  left: 0px !important;
}
.button{
 left: 150px;
}

}





