
//carousel

.carousel {
  // z-index: -99;
  position: absolute;
  top: 0;
}

//first header

.kopustas{
  background-color: #a88677;
  display:flex;
  position: relative;
  top:815px;
  height: 252px;
}

.header-story{
  position: relative;
  right: 245px;
  bottom: 19px;
}

.header-story h5 {
  font-size: 34px;
  text-align: center;
  position: relative;
  right: -84px;
  bottom: 1px;
}

.header-story h4{
    font-size: 34px;
    text-align: center;
    position: relative;
    bottom: 62px;
    left: 245px;
}

.header-story p{
   font-family:  $p;
    position: relative;
    font-size: 12px;
    bottom: 53px;
    right: -186px;
    text-align: center
}
.header-story h6{
    font-size: 15px;
    position: relative;
    text-align: center;
    bottom: 48px;
}

//first headers's photos

.story-phh{
  position: relative;
  bottom: 248px;
  left: 34px;
  width: 25%;
}

.story-ph img{
   width: 115%;
}

.story-ph{
  position: relative;
  bottom: 520px;
  left: 779px;
  width: 31%;
}

//second header

.header-main{
  position: relative;
  text-align: center;
  top: 850px;
  background-color: #e5d1c5;
}

.header-main h6{
  font-size: 25px;
  position: relative;
  top: 14px;
}

//third-header

.saldainis{
  display: flex;
  justify-content: space-evenly;
  margin-top: 500px;
  width: 107%;
  background-color: #e5d1c5;
  top:-62px;
  height: 520px;
  margin-left: -87px;
}

//intagram section

.instagram{
  position: relative;
  bottom: -73px;
  left: 300px;
}
.fab{
  color: black;
  opacity: 0.6;
  font-size: 20px;
  align-content: center;
}

.fab:hover{
 color: #a39b93;
}

.fa-instagram{
  font-size: 30px;
  top: 319px;
  right: 83px;
  position: relative;
}

.intagram-ph{
  position: relative;
  left: 436px;
  top: 346px;
}

.brownline{
  background-color:  #a88677;
  position: relative;
  top: 278px;
  width: 65%;
  height: 6px;
  right: 4px;
}

// Ask me a question

.question h1{
  top: 65px;
  text-align: center;
  position: relative;
  font-size: 40px;
}

.new_contact{
  align-items: center;
  text-align: center;
  align-content: inherit;
  position: relative;
  left: 43%;
  margin-left: -25%;
  margin-top: 5%;
}

.contact-form-text-area{
  width: 30%;
  height: 40px;
}

#contact_message {
  width: 65%;
  height: 143px;
}

label {
  text-align: left;
  align-items: left;
  font-size: 12px;
  position: relative;
  right: 107px;
  top: 10px;
  font-size: 18px;
}


.contact-message {
  text-align: left;
  align-items: left;
  font-size: 12px;
  position: relative;
  right: 242px;
  top: 10px;
  font-size: 18px;
}

.button {
  transition-duration: 0.4s;
  // border-color: #A88677;
  background-color: white;
  border-radius: 19px;
  border: 2px solid #A88677;
  font-size: 22px;
  position: relative;
  top: 15px;
  left: 224px;
}

.button:hover {
  background-color: #A88677;
  color: white;
}


// for bigger screen

@media (min-width: 1273px) {
.story-ph{ bottom: 540px}
.story-phh{width: 22%}
}

