
.my-nav{
  width: 100%;
  background: none;
  z-index: 999;
}

.navbar-brand{
  color: white !important;
  font-size: 20px;
}

 h2{
  color: white;
  font-size: 24px;
}

h2:hover{
  opacity: 0.5;
}

.bg-light{
  background-color: transparent !important;
}

.nav-link{
color: white !important;
}

//bigger screen

@media (min-width: 1440px) {
.aboutme{position: relative; left: 256px !important;}
.weddings{position: relative;left: 292px !important;}
.stories{position: relative; left: 470px !important}
.sendme{position: relative;left: 500px !important;}
h2{font-size: 20px !important;}
.logo { position: relative; left: 615px !important}
}


//mobile design

@media only screen and (min-width: 290px) and (max-width: 812px){
  .collapse {
    display: flex !important;
  }
  .aboutme{
    position: relative !important;
    left: 0px !important;
    bottom: -120px;
  }


  .stories{
    position: relative !important;
    left: 206px !important;
    bottom: -30px;
  }

  .weddings{
    position: relative !important;
    left: 70px !important;
    bottom: -75px;
  }

  .sendme{
    position: relative !important;
    bottom: 9px !important;
    left: 280px !important;
  }

  .sendme h2{
    font-size: 11px
  }

  h2{
    font-size: 18px
  }
  .logo{
    width: 71px !important;
    left:128px !important;
    bottom: -190px !important;
    position: relative!important;
  }
.my-nav{
  position: relative !important;
  bottom: 208px !important;
}
}
// @media only screen and (min-width: 640px) and (max-width: 1400px){
// // .logo2{ display: none;}
// }
