
.my-nav{
  width: 100%;
  background: none;
  z-index: 999;
}

.navbar-brand{
  color: white !important;
  font-size: 20px;
}

 h2{
  color: white;
  font-size: 24px;
}

h2:hover{
  opacity: 0.5;
}

.bg-light{
  background-color: transparent !important;
}

.nav-link{
color: white !important;
}

//bigger screen

@media (min-width: 1300px) {
.navbar-brand img{position: relative;left: 615px}
.aboutme{position: relative; left: 247px;}
.weddings{position: relative;left: 290px;}
.stories{position: relative; left: 380px}
.sendme{position: relative;left: 444px;}
h2{font-size: 12px;}
}


//mobile design

@media only screen and (min-width: 290px) and (max-width: 812px){
  .collapse {
    display: flex !important;
  }
  .aboutme{
    position: relative !important;
    left: 0px !important;
    bottom: 83px;
  }


  .stories{
    position: relative !important;
    left: 206px !important;
    bottom: 173px;
  }

  .weddings{
    position: relative !important;
    left: 70px !important;
    bottom: 128px;
  }

  .sendme{
    position: relative !important;
    bottom: 214px !important;
    left: 280px !important;
  }

  .sendme h2{
    font-size: 11px
  }

  h2{
    font-size: 18px
  }
  .logo{
    width: 71px !important;
    left:128px !important;
    bottom: 19px;
    position: !important;
  }
//   .navbar-light .navbar-toggler{
//   color: white !important;
//   border-color: white !important;
// }
// .navbar-toggler{
//   font-size: 0.55rem !important;
//   position: relative !important;
//   bottom: 75px !important;
//   right: 349px !important;
// }
// .navbar-collapse{
//   position: relative;
//   right: 328px;
//   bottom: 159px;}
// .aboutme {
//   left: 195px !important;
//   bottom: 16px;
//   position: relative;
//   }
// .weddings{
//   position: relative;
//   left: 258px !important;
//   bottom: 53px;
// }
// .stories {
//   position: relative;
//   left: 335px !important;
//   bottom: 80px;
//   }
// // .sendme {
// //   position: relative;
// //   bottom: 114px;
// //   }
// .logo2{
//   width: 45px !important;
//   position: relative !important;
//   left: 620px !important;
//   bottom: 158px;
//   font-weight: bold;
//  }
// h2 {font-size: 12px;
// font-weight: bold;}
// }
}
@media only screen and (min-width: 640px) and (max-width: 1400px){
// .logo2{ display: none;}
}
