.packages-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.packages-first-photo-for-big-screen,
.packages-photo-combination-for-big-screen{
  display: none;
}
.packages-card{
  width: 100%;
  margin-top: 2rem;
}
.packages-card-image {
  width: 100%;
  text-align: center;
}
.packages-card img {
  width: 15%;
}

.package-card-header{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.package-card-header h5{
  font-size: 28px;
  font-weight: bold;
  font-weight: 200;
}

.packages-card-body li {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 200;
}

.packages-card-body ul {
  list-style-type: none;
}
.packages-box,
.packages-card-body{
  background-color: $new-dark-brown
}
.packages-card-body{
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.packages-second-photo{
  margin-bottom: 3rem;
}

.packages-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.packages-box-image,
.packages-box-mirror-image{
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.packages-box-image img,
.packages-box-mirror-image img{
  width: 30%;
}

.packages-box-header h5,
.packages-box-text p{
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: $body-font;
}

.packages-poto-combination {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
}

.packages-third-photo{
  width: 105%;
  margin-right: 2rem;
}


//BIG SCREEN

@media (min-width: 600px){
  .packages-first-photo-for-mobile,
  .packages-poto-combination,
  .packages-box,
  .packages-second-photo{
    display: none;
  }
  .combination-text{
    display: block;
  }
  .packages-first-photo-for-big-screen{
    display: block;
    margin-top: -12rem;
  }
  .packages-cards{
    flex-direction: row;
  }

  .packages-card-down{
    margin-top: 6rem;
  }

  .packages-card-body{
    background-color: transparent;
  }
  .packages-card-body li {
    font-size: 17px;
  }

  .packages-photo-combination-for-big-screen{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .combination-first-photo {
    margin-right: 4rem;
    width: 251%;
  }
  .packages-box-text p {
    font-size: 18px;
  }
}
